<!doctype html>
<html>
    <head>
        <title>Shufflespot</title>
        <link rel="stylesheet" href="/src/css/shufflespot.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

        <script src="/../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/../node_modules/angular/angular.min.js"></script>
        <script src="../node_modules/spotify-web-api-js/src/spotify-web-api.js"></script>
        <script src="../node_modules/knuth-shuffle/index.js"></script>
        <script src="/src/js/mainController.js"></script>
        <script src="/src/js/mainModule.js"></script>
    </head>

    <body>
        <div class="container" ng-app="main" ng-controller="mainController" ng-cloak>
            <div id="login" ng-show="!access_token">
                <h1>Please log in to authorize</h1>
                <button id="login-button" class="btn btn-primary">Log in with Spotify</button>
            </div>
            <div id="form-area" ng-show="access_token">
                <form>
                    <div class="form-group">
                        <label for="dd-playlist">Select a Playlist</label>
                        <select class="form-control" id="dd-playlist" ng-model="SelectedPlaylist">
                            <option ng-repeat="p in Playlists" value="{{p.Id}}">{{p.Title}}</option>
                        </select>

                        <label for="check-copy">Copy shuffled order to a different playlist (preserves original metadata)</label>
                        <input type="checkbox" id="check-copy" ng-model="copyResult"><br/>

                        <label for="dd-destination">Desination Playlist</label>
                        <select class="form-control" id="dd-destination" ng-model="SelectedDestination" ng-disabled="!copyResult">
                            <option ng-repeat="p in Playlists" value="{{p.Id}}">{{p.Title}}</option>
                        </select>
                    </div>
                    <input type="button" id="submit-button" class="btn btn-primary" ng-click="getUserId()" value="Randomize!"/>
                    <p ng-bind="statusMssg"></p>
                </form>
            </div>
        </div>
    </body>
    </html>